/* Navbar.css */
.header {
    display: flex;
    justify-content: space-between; /* Space between logo, nav links, and notification button */
    align-items: center;
    padding: 10px;
}

.notification-button {
    margin-left: auto; /* Aligns it to the right */
    margin-right: 30px; /* Adds spacing from the edge */
}
.home-link{
    color: orangered;
}

.notification-button .btn {
    background: none; /* No background for the button */
    border: none; /* No border */
    cursor: pointer;
    padding: 0; /* Remove extra padding */
}

.notification-button .notif {
    width: 35px; /* Smaller width for the bell icon */
    height: 35px; /* Smaller height for the bell icon */
}

.notification-button .btn:hover .notif {
    filter: brightness(1.2); /* Optional hover effect to brighten icon */
}


.btn.active {
    background-color: rgba(189, 186, 186, 0.719); 
    border-radius: 50%;
    width: 40px; /* Smaller width for the bell icon */
    height: 40px;
  }